body {
    background: url('https://images.app.goo.gl/akLcnHhPCRhbMwCc6') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Altura da tela inteira */
    color: white; /* Ajustar a cor do texto para melhorar a visibilidade */
}

main {
    width: 80%;    
    height: 100%; /* Ajustar para ocupar a altura toda */
    margin: auto;
    margin-top: 30px;
}

.main {
    display: flex;
    color: green;  
    justify-content: center;  
}

.saudacao {
    margin-bottom: 120px;
    color: blue;
    font-size: 20px;    
}

.estetica {
   background: green;
   padding: 20px;
   color: aliceblue;
   border-radius: 15px;
   margin-right: 50px;
   font-size: 20px;
   cursor: pointer;
}

.h41 {  
    height: 70px;
    font-size: 30px;
    color: red;
}

.links {
    height: 70px;
}
